body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	background: #2b342a;
}

body .dashboard {
	background-color: rgb(138, 163, 135);
	border-radius: 5px;
	position: absolute;
	width: 30%;
	max-width: 30%;
	padding: 1em;
	margin: 1em;
	margin-left: 0.5em;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

body .dashboard .active-framework {
	border: 1px dotted rgb(192, 192, 192);
	color: rgb(24, 24, 24);
	border-radius: 10px;
	margin-top: 50px;
	padding: 10px;
}

body .dashboard .legenda {
	/* border: 0.1px solid grey; */
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/* margin-top: 250px; */
	max-width: 15vw;
	width: 16vw;
}

body .dashboard .legenda > div {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	margin-bottom: 1vw;
}

.legenda-circle-1 {
	background-color: rgba(10, 10, 230, 0.623);
	border: 2px solid rgb(10, 10, 235);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.legenda-circle-2 {
	background-color: rgba(34, 219, 13, 0.685);
	border: 2px solid rgb(34, 219, 13);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.legenda-circle-3 {
	background-color: rgba(201, 14, 14, 0.541);
	border: 2px solid rgb(179, 0, 0);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

body .dashboard .legenda p {
	/* width: 12em; */
	width: 12vw;
	/* margin: auto; */
	margin: 5px;
}

.filter-buttons h5 {
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1rem;
}

.filter-buttons input {
	cursor: pointer;
}

.filter-buttons label {
	font-size: 1rem;
}

/* hover state - label */
.filter-buttons label:hover {
	text-decoration: underline;
	cursor: pointer;
	color: rgb(53, 80, 50);
}

path {
	fill: rgb(126, 126, 126);
	stroke: #ffffff;
	stroke-opacity: 0.1;
}

.meta {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 0.9rem;
	color: #00000040;
	/* margin: 0em 1em; */
	margin-top: 2em;
}
